* text=auto
*.sh text eol=lf
*.py text eol=lf
*.lua text eol=lf
*.java text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.swift text eol=lf
*.ps1 text eol=crlf
*.patch whitespace=-blank-at-eol,-blank-at-eof

player-standalone/full-mc-source/** -text
player-standalone/full-mc-source/packaged-resources/MANIFEST.MF whitespace=cr-at-eol,-blank-at-eof
